{% extends 'shop/base.html' %}
{% block css%}


body{
    box-sizing:border-box;
    
}
                        
.col-md-3{
display:inline-block;
margin-left: -7px;
height:justify;
}
.card{
height:500px;
}
.col-md-3 img{
max-width:90%;
background-size:cover;
height:230px;
margin:auto;
}
.carousel-indicators .active{
background-color:blue;
}
body .carousel-indicators li{
background-color:lightblue
}
body .carousel-control-next-icon,
.carousel-control-prev-icon{
background-color:blue;
}
body .carousel-control-prev,
.carousel-control-next{
<!--            height: 30px;-->
<!--          position: absolute;-->
<!--           top: 215px;-->
top:auto;
bottom:auto;
padding-top:222px;
}
.row{
background-color:#e2e2e23b; 
z-index:99;
}
#carouselExampleFade{
    height:230px;
    z-index:-1;
    margin:0px;
}
.container-fluid{
    margin:0px;
    display:table-row;
}

#outer_wrapper {  
    overflow: scroll;  
    width:0%;
}
#outer_wrapper #inner_wrapper {
    width:20px; /* If you have more elements, increase the width accordingly */
}
#outer_wrapper #inner_wrapper div.box { /* Define the properties of inner block */
    width: 250px;
    height:300px;
    float: left;
    margin: 0 4px 0 0;
    border:1px grey solid;
}
#img{
    height: 100%;
    width: 31vw;
    background-color: ivory;

}
.undraw{
    background-color: ivory;
    
}
.row .col-md-12{
    background-color:white;
    display:flex;
    justify-content:center;
    padding-top:3rem;
    padding-bottom:.3rem;
    
}
.row .col-md-12 .heading{
    font-weight:400;
}
#horizontal{
    box-shadow:0px 6px 8px 4px dodgerblue;
}
.shoppara{
    font-style: italic;
    font-weight: 400;
    color: deepskyblue;
}


{% endblock %}
{% block body %}
{% load static %}
<div class="container-fluid">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'image/lp1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'image/beauty.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'image/sofa.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'image/img2.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    {% for prod , range, nSlides in product %}
    <!-- start slider here -->
    <h2 class="my-3 text text-secondary font-weight-bold">Flash sale On {{prod.0.category}} </h2>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to='{{i}}'></li>
                {% endfor %}
            </ul>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                    {% for i in prod %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id='namepr{{i.id}}'>{{i.product_name|slice:"0:23"}}..</h5>
                                <h6 class="card-title font-weight-bold">Price :- Rs. <span id='pricepr{{i.id}}'>{{i.price}}</span></h6>
                                <p class="card-text">{{i.desc|slice:"0:55"}}....</p>
                                <span id="divpr{{i.id}}" class="divpr">
                                    <button id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                                </span>
                                <a href="/shop/productview/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">View Details</button> </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.counter.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- left and right control for slide   -->
                <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>


<div id="outer_wrapper">
    <div id="inner_wrapper">
        {% for i  in prod %}
        <div class="box">
            <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id='namepr{{i.id}}'>{{i.product_name|slice:"0:23"}}..</h5>
                                <h6 class="card-title font-weight-bold">Price :- Rs. <span id='pricepr{{i.id}}'>{{i.price}}</span></h6>
                                <p class="card-text">{{i.desc|slice:"0:55"}}....</p>
                                <span id="divpr{{i.id}}" class="divpr">
                                    <button id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                                </span>
                                <a href="/shop/productview/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">View Details</button> </a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>

<div class="container container2">
        <div class="row">
            <div class="col-md-12">
                <h2 class='heading'>Start your Marketing journey with MyShopCart <hr id='horizontal'></h2>
        </div>
        </div>
        <div class="row undraw mt-3">
            <div class="col-sm-5 mt-3">
                <h2 class='font-weight-bold mb-4 pt-5'>Buying Product From MyShopCart..</h2>
                 <p class="shoppara mt-3 pt-4"> MyShopCart introduces Supermart that is out to bring everyday essentials close to you. From pulses, spices, dairy, personal and sanitary care, breakfast essentials, health drinks, spreads, ready to cook, grooming to cleaning agents, we are happy to present everything you need to run a house. Now buy Grocery products for as low as 1 Rupee only - our 1 Rupee Store presents new products every day for a nominal price of 1 Rupee only. Terms and conditions apply....<a href='#'>Read More</a>
                        </p>
            
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 mt-5">
                <div id="image">
                <img src="{% static 'image/cart_item.png'%}" alt="no image found" id='img'>
            </div>
            </div>
        </div>
        <hr>
        <div class="row undraw mt-3 description">
            
            <div class="col-sm-1 ml-5"></div>
            <div class="col-sm-5 mt-3">
                <h2 class='font-weight-bold mb-4'>Search For Item In MyShopCart....</h2>
                 <p class="shoppara mt-3"> MyShopCart introduces Supermart that is out to bring everyday essentials close to you. From pulses, spices, dairy, personal and sanitary care, breakfast essentials, health drinks, spreads, ready to cook, grooming to cleaning agents, we are happy to present everything you need to run a house. Now buy Grocery products for as low as 1 Rupee only - our 1 Rupee Store presents new products every day for a nominal price of 1 Rupee only. Terms and conditions apply.......<a href='#'>Read More</a>
                        </p>
            </div>
            <div class="col-sm-5 mt-5">
                <img src="{% static 'image/buypro.png'%}" alt="no image found" id='img' class="img-responsive">
            
            </div>
        </div>
        <hr>
        <div class="row undraw mt-3 description">
            <div class="col-sm-5 mt-3 pt-3">
                <h2 class='font-weight-bold mb-4'>Choose Your Product And Add It To Your Cart..</h2>
                 <p class="shoppara mt-3">From budget phones to state-of-the-art smartphones, we have a mobile for everybody out there. Whether you're looking for larger, fuller screens, power-packed batteries, blazing-fast processors, beautification apps, high-tech selfie cameras or just large internal space, we take care of all the essentials. Shop from top brands in the country like Samsung, Apple, Oppo, Xiaomi, Realme, Vivo, and Honor to name a few. Rest assured, you're buying from only the most reliable names in the market. What's more, with MyShopCart's Complete Mobile Protection Plan, you will never again find the need to run around service centres........<a href='#'>Read More</a>
                        </p>
            
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 mt-5">
                <img src="{% static 'image/addcart.png'%}" alt="no image found" id='img'>
            
            </div>
        </div>
    </div>





{% endblock %}


{% block js %}
<script>

console.log('sctipt is working');
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);

}

//  Update cart function 
function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0];
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class ='btn btn-primary minus'>-</button><span id='val" + item + "''>" + cart[item][0] + "</[0]span><button id='plus" + item + "' class='btn btn-primary plus'> +</button>";

    }
    localStorage.setItem("cart", JSON.stringify(cart));
    document.getElementById('popcart').innerHTML = sum;
    updatePopover(cart);

}


// $('.cart').click(function(){
$('.divpr').on('click', "button.cart", function() {
    var idstr = this.id.toString();

    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
        // name = 'My Item';
        // // cart[idstr] = cart[idstr] + 1;
        // cart[idstr] = [qty, name];
    } else {
        qty = 1;
        name = document.getElementById('name' + idstr).innerHTML;
        price = document.getElementById('price' + idstr).innerHTML;
        console.log(price);
        // cart[idstr] = [0]1;
        cart[idstr] = [qty, name, parseInt(price)]
        console.log(cart[idstr])
        // console.log(idstr)

    }
    updateCart(cart);
    console.log(cart);
    localStorage.setItem("cart", JSON.stringify(cart));
    document.getElementById('popcart').innerHTML = Object.keys(cart).length;
});

// adding pop over to the cart 
$('#cartpop').popover();


updatePopover(cart);
// Updating popover 
function updatePopover(cart) {
    popStr = "";
    popStr = popStr + '<h6>cart items are shown here</h6>';
    let i = 1;
    for (var item in cart) {
        popStr = popStr + "<b class='my-1'> " + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 20) + "...." + "<span class='my-2'> |  Qty.   " + cart[item][0] + "</span><br/>";
        i = i + 1;
    }
    popStr = popStr + "<div class='col'><a href='/shop/checkout'><button class='btn btn-primary  my-2'>Checkout</button></a><button class='btn btn-primary' id='clearCart' onclick='clearCart()'>ClearCart</button></div>"
    document.getElementById('cartpop').setAttribute('data-content', popStr);
    // $('#cartpop').onChange(setAttribute('data-content',popStr))
    $('#cartpop').popover();

}

function clearCart() {
    cart = JSON.parse(localStorage.getItem("cart"));
    console.log(cart);
    for (var item in cart) {
        document.getElementById('div' + item).innerHTML = ' <button id="' + item + '" class="btn btn-primary cart">Add to Cart</button>'
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);
}



//  minus buttton is clicked logic
$('.divpr').on('click', 'button.minus', function() {
    a = this.id.slice(7, )
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    // document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    if (cart['pr' + a][0] == 0) {
        document.getElementById('divpr' + a).innerHTML = ' <button id="pr' + a + '" class="btn btn-primary cart">Add to Cart</button>';
        delete cart['pr' + a];
    } else {
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    }
    updateCart(cart);
});

//   buttton is clicked logic
$('.divpr').on('click', 'button.plus', function() {
    a = this.id.slice(6, )
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});
</script>
{% endblock %}